<footer class="container text-center content-space-1">
    <!-- Logo -->

    <!-- End Logo -->

    <p class="small text-muted mb-0">

        {notempty name="company.home_cpy"}
            {$company.home_cpy} &emsp;
        {/notempty}



        {notempty name="company.beian"}
        <a class="link" href="#">{$company.beian}</a></p>
        {/notempty}


    </p>
    <a href="https://qz.ruhuashop.com/" target="_blank">
        <div class="text-center fs-6 text-black-50">本网站由 轻松自动建站系统 搭建</div>
    </a>
</footer>