<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>-</title>
    <meta name="keywords" content="-">
    <meta name="description" content="-">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link rel="stylesheet" href="/assets/css/theme.min.css">
    <script src="./assets/js/swiper-bundle.min.js"></script>
</head>

<body>
<!-- Card -->
<div class="container content-space-2">
    <div class="w-lg-75 mx-lg-auto">
        <!-- Card -->
        <div class="card card-bordered p-4 p-md-7 text-xl fs-6">
            <h1 class="card-title h2 text-center my-6">安装成功</h1>
            <h5 class="my-4">&nbsp;P&nbsp;C&nbsp;网站：<a href="{$web_url}">{$web_url}</a></h5>
            <h5 class="mb-4">手机网站：<a href="{$web_url}h5">{$web_url}h5</a></h5>
            <h5 class="mb-4">后&emsp;&emsp;台：<a href="{$web_url}qzcms">{$web_url}qzcms</a></h5>
            <h5>手&emsp;&emsp;册：<a href="https://qz.ruhuashop.com" target="_blank">https://qz.ruhuashop.com</a></h5>

            <!-- Info -->
            <div class="border-top text-center pt-5 mt-5">

                <div class="mb-3">
                    <a href="/">
                    <button type="button" class="btn btn-primary my-1 me-sm-2">
                        访问
                    </button>
                    </a>
                </div>

            </div>
            <!-- End Info -->


        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Card -->

</body>
</html>