<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>-</title>
    <meta name="keywords" content="-">
    <meta name="description" content="-">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link rel="stylesheet" href="/assets/css/theme.min.css">
    <script src="./assets/js/swiper-bundle.min.js"></script>
</head>

<body>
<!-- Card -->
<div class="container content-space-2">
    <div class="w-lg-75 mx-lg-auto">
        <!-- Card -->
        <div class="card card-bordered p-4 p-md-7 text-xl fs-6">
            <h1 class="card-title h2 text-center mb-4">轻站 - 用户授权协议</h1>
            <h4 class="text-center mb-4">《免费商用版》</h4>
            <p>
            感谢您选择轻松自助建站系统（简称轻站），轻站基于 Thinkphp6 + vue3 + ts + uniapp + Bootstrap5 开发。<br/>
            为了使你正确并合法的使用本软件，请你在使用前务必阅读清楚下面的协议条款：<br/>
            轻站有多个版本：“免费商用版”、“付费商业版”、“付费商业版（开源）”<br/>
            本授权协议适用于轻站 “免费商用版”，轻站官方对本授权协议的最终解释权和修改权。</p>

            <h5>一、协议许可的权利</h5>
            <p>1、本软件可免费商用，但不允许删除版权信息 文字 标识<br/>
                2、不允许二次开发<br/>
                3、您拥有使用本软件构建的网站全部内容所有权，并独立承担与这些内容的相关法律义务。 </p>


            <h5>二、协议许可的权利和限制</h5>
            <p> 1、未获商业授权之前，不得删除网站底部及相应的官方版权信息和链接。购买商业授权请联系 兴义市黔域网络科技有限公司 了解最新说明。<br/>
                轻站著作权已在中华人民共和国国家版权局注册(中国国家版权局著作权登记号 2021SRO218500)，著作权受到法律和国际公约保护。 <br/>
            2、未经官方许可，不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。 <br/>
            3、不管你的网站是否整体使用 轻站系统 ，还是部份栏目使用 轻站，在你使用了 轻站系统 的网站主页上必须加上 轻站系统 官方网址(qz.ruhuashop.com)的链接。 <br/>
            4、获得商业授权之后，可以去除页面中 轻站系统的标识和官方链接。 <br/>
            5、未经官方许可，禁止在 轻站系统 的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。 <br/>
            6、如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。</p>

            <h5>三、有限担保和免责声明</h5>
            <p>1、本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。 <br/>
            2、本软件所提供图片素材仅供展示布局效果，还请自行更换系统中的图片素材<br/>
            3、电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。<br/>
                您一旦开始确认本协议并安装 轻站，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。<br/>
            协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。</p>

            -----------------------------------------------------
            <p>协议发布时间： 2022年6月12日 <br/>
            轻站官方网站：https://qz.ruhuashop.com <br/>
            邮   箱: wyc0859@qq.com<br/>
            版权所有 (c)2022，兴义市黔域网络科技有限公司 保留所有权利。</p>

            <div class="border-top text-center pt-5 mt-5">

                <div class="mb-3">
                    <button type="button" class="btn btn-soft-primary my-1 mx-4">
                        不同意
                    </button>
                    <a href="{:url('install/step2')}">
                    <button type="button" class="btn btn-primary my-1 me-sm-2">
                        同意
                    </button>
                    </a>
                </div>

            </div>
            <!-- End Info -->


        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Card -->

</body>
</html>