<div id="about-section" class="container content-space-t-1">
    <h3>联系我们</h3>
    <div class="row mb-5">
        <div class="col-md-3 order-md-2 mb-3 mb-md-0">
            <div class="ps-md-4">
                <ul class="list-unstyled list-py-2">
                    <li>
                        <h5>Founded</h5>
                        <p class="small mb-0">2022</p></li>
                    <li>
                        <h5>Company size</h5>
                        <p class="small mb-0">1-5</p></li>
                    <li>
                        <h5>Avg. Salary</h5>
                        <p class="small mb-0">$25 - $45</p></li>
                    <li>
                        <h5>产品名称</h5>
                        <p class="small mb-0">轻松建站系统</p></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mb-5">
                <p>&emsp;&emsp;微信小程序，小程序的一种，英文名Wechat Mini Program，是一种不需要下载安装即可使用的应用，它实现了应用“触手可及”的梦想，用户扫一扫或搜一下即可打开应用。
                    全面开放申请后，主体类型为企业、政府、媒体、其他组织或个人的开发者，均可申请注册小程序。微信小程序、微信订阅号、微信服务号、微信企业号是并行的体系。
                    微信小程序是一种不用下载就能使用的应用，也是一项创新，经过将近两年的发展，已经构造了新的微信小程序开发环境和开发者生态。</p>
                <p>&emsp;&emsp;微信小程序也是这么多年来中国IT行业里
                    一个真正能够影响到普通程序员的创新成果，已经有超过150万的开发者加入到了微信小程序的开发，与我们一起共同发力推动微信小程序的发展，微信小程序应用数量超过了一百万，
                    覆盖200多个细分的行业，日活用户达到两个亿，微信小程序还在许多城市实现了支持地铁、公交服务。微信小程序发展带来更多的就业机会，2017年小程序带动就业104万人，社会效应不断提升。</p>
            </div>
        </div>
    </div>
</div>