{notempty name="data['list']"}
<div class="container content-space-1">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>{$data['list']['title']}</h2>
    </div>

    <div class="w-lg-65 mx-lg-auto">
        <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
            {notempty name="data['list']['json']"}
            {foreach $data['list']['json'] as $k=>$v }


            <div class="accordion-item">
                <div class="accordion-header" >
                    <a
                            class="accordion-button collapsed"
                            role="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#x{$k}"
                            aria-expanded="false"
                            aria-controls="x{$k}"
                    >
                        {$v['ask']}
                    </a>
                </div>
                <div
                        id="x{$k}"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingCuriousOne"
                        data-bs-parent="#accordionFAQ"
                >
                    <div class="accordion-body"> {$v['answer']}</div>
                </div>
            </div>
            {/foreach}
            {/notempty}
        </div>
    </div>

</div>

{/notempty}
