{notempty name="data['list']"}
<div class="container content-space-2 content-space-lg-3">
    <div class="row mb-7">
        <div class="col-sm-8 col-lg-4 mb-7 mb-lg-4">
            <!-- Circle Chart -->
            <div class="circles-chart">
                <div class="js-circle">
                    <h1>
                        {notempty name="data['list']"}
                        {$data['list'][0]}
                        {/notempty}
                    </h1>
                    <p>
                        {notempty name="data['list']"}
                        {$data['list'][3]}
                        {/notempty}
                    </p>
                </div>
            </div>
            <!-- End Circle Chart -->
        </div>
        <!-- End Col -->

        <div class="col-sm-8 col-lg-4 mb-7 mb-lg-4">
            <!-- Circle Chart -->
            <div class="circles-chart">
                <div class="js-circle">
                    <h1>
                        {notempty name="data['list']"}
                        {$data['list'][1]}
                        {/notempty}
                    </h1>
                    <p>
                        {notempty name="data['list']"}
                        {$data['list'][4]}
                        {/notempty}
                    </p>
                </div>
            </div>
            <!-- End Circle Chart -->
        </div>
        <!-- End Col -->

        <div class="col-sm-8 col-lg-4 mb-7 mb-lg-4">
            <!-- Circle Chart -->
            <div class="circles-chart">
                <div class="js-circle">
                    <h1>
                        {notempty name="data['list']"}
                        {$data['list'][2]}
                        {/notempty}
                    </h1>
                    <p>
                        {notempty name="data['list']"}
                        {$data['list'][5]}
                        {/notempty}
                    </p>
                </div>
            </div>
            <!-- End Circle Chart -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
{/notempty}