{notempty name="data['list']"}
<div class="container content-space-2 content-space-lg-3">
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="text-center">
                <small class="text-cap text-primary">
                    {notempty name="data['list']"}
                    {$data['list'][3]}
                    {/notempty}
                </small>
                <h4 class="display-4">
                    {notempty name="data['list']"}
                    {$data['list'][0]}
                    {/notempty}
                </h4>
            </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="text-center">
                <small class="text-cap text-primary">
                    {notempty name="data['list']"}
                    {$data['list'][4]}
                    {/notempty}
                </small>
                <h4 class="display-4">
                    {notempty name="data['list']"}
                    {$data['list'][1]}
                    {/notempty}
                </h4>
            </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-4">
            <div class="text-center">
                <small class="text-cap text-primary">
                    {notempty name="data['list']"}
                    {$data['list'][5]}
                    {/notempty}
                </small>
                <h4 class="display-4">
                    {notempty name="data['list']"}
                    {$data['list'][2]}
                    {/notempty}
                </h4>
            </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
{/notempty}